/*-- gallery --*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background: #e64e1f;
    border: solid 2px #e64e1f;
}
.nav-tabs > li > a {
    margin-right: 3px;
    font-size: 1em;
    color: #212121;
    border: solid 2px #e64e1f;
    border-radius: 0px;
	-webkit-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
    padding: .5em 1em;
	text-transform: capitalize;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
    border-bottom: none;
    margin: 0 auto 3em;
    width: 100%;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 10px 0 0;
}
.nav-tabs > li > a:hover {
    color: #FFFFFF;
    background: #e64e1f;
    border: solid 2px #e64e1f;
}
.w3_tab_img_left {
	padding:0;
}
.agile-gallery-info{
    padding: 1em;
    background: #ffffff;
}
.agile-gallery-info h5{
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.agile-gallery-info p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: .5em 0 0 0;
}
.agile-gallery-info{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.agile-gallery-info input[type=image]{
	height: 32px;
	weight: 32px;
	float: right;
	line-height: 32px;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.w3_tab_img_left:hover .agile-gallery-info{
	background: #e64e1f;
	color:#FFFFFF;
}

.w3_tab_img_left .agile-gallery-info .product-carousel-price ins {
  color: #e64e1f;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.w3_tab_img_left:hover .agile-gallery-info .product-carousel-price ins {
	color:#FFFFFF;
	font-weight: 700;
  	margin-right: 5px;
    text-decoration: none;
}

/*-- //gallery --*/


